html {
  height: auto;
	/* max-height: 600px; */
	width: auto;
	background-color: rgb(30, 0, 42);
	background-image:		
    url('/img/Fence.png'), 
		url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
		url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
	background-repeat: repeat-x;
	background-position: 
		0 102%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-size: 
		900px,
		800px,
		300px 200px,
		1000px,
		400px 260px;
	animation: 50s para infinite linear;
	}

@keyframes para {
	100% {
		background-position: 
			-9900px 102%,
			-800px 100%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
	}

/* størrelsen af sidebar*/
::-webkit-scrollbar {
  width: 9px;
}

/* baggrund af sidebar */
::-webkit-scrollbar-track {
  background: #f6a40b; 
}
 
/* den du skal klikke på */
::-webkit-scrollbar-thumb {
  background: rgb(26, 26, 26);
}

/* når du holder sidebar */
::-webkit-scrollbar-thumb:hover {
  background: rgb(204, 8, 253);
}

/*når et link ikke er blevet brugt*/
a:visited
{
    color: orange;
    text-decoration: none;
}

/*når du holder over links*/
a:hover
{
    color:rgb(204, 8, 253);
    text-decoration: underline;
    
}

/*når et link er blevet brugt*/
a:link
{
    color: orange;
    text-decoration: none;
}

/*aktivt link*/
a:active
{
    color: orange;
    text-decoration: none;
}


.Titel{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-style: italic;
    font-size: 2rem;
}


p
{
  margin: 0 auto;
  padding: 0 0.8rem 0 0.8rem;
}

a
{
    padding: 0 1rem 0 1rem;
}

.Container-Menu
{
    width: 70%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    text-align: center;
    font-size: 1.8rem;
    background-color: rgb(0, 0, 0);
}


h1
{
  width: 70%;
  margin: 0;
  margin-left: 1%;
  font-size: 1.7rem;
  text-align: left;

}

h3
{
    text-align: center;
    padding: 1rem;
    margin: 0;
}

#section_OmMig
{
  color: orange;
  background-color: rgb(81, 16, 134);
  width: 70%;
  margin: 0 auto;
  font-size: 3rem;
  padding: 0%;
  
}

#PP
{
width:12rem;
height:12rem; 
border-radius: 50%;
padding: 2%;
text-align: right;
}

.Container-OmMig
{
  width: 70%;
  display: grid;
  grid-gap: 0rem 0rem;
  grid-template-columns: 80% 20%;
  margin: 0 auto;
  color: orange;
  font-size: 1.3rem;
  background-color: rgb(81, 16, 134);
}

   
#section_Erfaringer
{
  color: orange;
  background-color: rgb(81, 16, 134);
  width: 70%;
  margin: 0 auto;
  font-size: 3rem;
}

.Container-Erfaringer
{
  width: 70%;
  margin: 0 auto;
  color: orange;
  background-color: rgb(81, 16, 134);
  font-size: 1.3rem;
}

.Udan
{

  display: grid;
  grid-gap: 0rem 0rem;
  grid-template-columns: 26rem 8rem;
  margin: 0 auto;


}

#section_Kontakt_mig
{
  color: orange;
  background-color: rgb(81, 16, 134);
  width: 70%;
  margin: 0 auto;
  font-size: 3rem;
}

.Container-Kontakt_mig
{
  width: 70%;
  display: grid;
  grid-gap: 0.5rem 0rem;
  grid-template-columns: 25% 50%;
  margin: 0 auto;
  color: orange;
  font-size: 1.3rem;
  background-color: rgb(81, 16, 134);
}


#section_Video_Test
{
  color: orange;
  background-color: rgb(81, 16, 134);
  width: 70%;
  margin: 0 auto;
  font-size: 3rem;
}

.Container-Video_Test
{
  text-align: center;
  width: 70%;
  margin: 0 auto;
  color: orange;
  background-color: rgb(81, 16, 134);
  font-size: 1.3rem;
}

#section_Comic_Test
{
  color: orange;
  background-color: rgb(81, 16, 134);
  width: 70%;
  margin: 0 auto;
  font-size: 3rem;
  
}

.Container-Comic
{
  width: 70%;
  margin: 0 auto;
  color: orange;
  background-color: rgb(81, 16, 134);
  font-size: 1.3rem;
  text-align: center;
}

.Container-Page
{
  text-align: center;
  width: 70%;
  margin: 0 auto;
  background-color: rgb(81, 16, 134);
  padding-bottom: 10%;
}

